<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongluxing.coupon.mapper.CouponMapper">
    <select id="findCoupons" resultType="com.tongluxing.coupon.dto.CouponQueryDTO">
        select cu.id,
               cu.template_id as templateId,
               ct.coupon_name as couponName,
               ct.coupon_type as couponType,
               ct.threshold_amount as thresholdAmount,
               ct.discount_amount as discountAmount,
               cu.coupon_status as couponStatus,
               cu.valid_start_at as validStartAt,
               cu.valid_end_at as validEndAt
        from coupon_user cu
        join coupon_template ct
          on ct.id = cu.template_id
         and ct.deleted = 0
        where cu.user_id = #{userId}
          and cu.deleted = 0
        <if test="status != null and status != ''">
            and cu.coupon_status = #{status}
        </if>
        <if test="type != null and type != ''">
            and ct.coupon_type = #{type}
        </if>
        order by cu.valid_end_at
        limit #{offset},
              #{size}
    </select>

    <select id="countCoupons" resultType="long">
        select count(*)
        from coupon_user cu
        join coupon_template ct
          on ct.id = cu.template_id
         and ct.deleted = 0
        where cu.user_id = #{userId}
          and cu.deleted = 0
        <if test="status != null and status != ''">
            and cu.coupon_status = #{status}
        </if>
        <if test="type != null and type != ''">
            and ct.coupon_type = #{type}
        </if>
    </select>
</mapper>
